<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <a routerLink="/" matTooltip="Docmd">
        <mat-icon>donut_large</mat-icon>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" matTooltip="Dashboard">
        <mat-icon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="/docs" routerLinkActive="active-link" matTooltip="Documents">
        <mat-icon>description</mat-icon>
      </a>
      <a mat-list-item routerLink="/steps" routerLinkActive="active-link" matTooltip="Steps">
        <mat-icon>list</mat-icon>
      </a>
      <a mat-list-item routerLink="/books" routerLinkActive="active-link" matTooltip="Books">
        <mat-icon>library_books</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-sticky-top">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex></span>
      <div fxFlex="60">
        <router-outlet name="searchInput"></router-outlet>
      </div>
      <span fxFlex></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>