<mat-accordion class="app-expansion">
  <mat-expansion-panel #panel *ngFor="let row of data" #panel hideToggle [expanded]="true">
    <mat-expansion-panel-header [class.mat-elevation-z2]="panel.expanded">
      <mat-panel-title fxLayoutAlign="start center">{{service.getHeader(row.content)}}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="start center">
      </mat-panel-description>
      <a mat-icon-button routerLink="{{row.uuid}}/release">
        <mat-icon>description</mat-icon>
      </a>
      <a mat-icon-button routerLink="{{row.uuid}}">
        <mat-icon>publish</mat-icon>
      </a>
      <button mat-icon-button (click)="$event.stopImmediatePropagation()" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="warn" (click)="delete($event, row)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-expansion-panel-header>
    <app-document *ngIf="panel.expanded" [data]="row"></app-document>
  </mat-expansion-panel>
</mat-accordion>